@import "../variables.module.scss";

.sideDrawerItem {
    min-height: 48px;
    cursor: pointer;
    width: 100%;
    font-family: var(--font-roboto);
}

.sideDrawerItem span {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sideDrawerItem:has(span):hover {
    background-color: rgba($background, 0.7);
}
